<div class="card">
  <div class="card-image">
    <figure class="image">
      <app-carousel [images]="product.images"> </app-carousel>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <!-- <div class="media-left">
        <figure class="image is-48x48">
          <img
            src="https://bulma.io/images/placeholders/96x96.png"
            alt="Placeholder image"
          />
        </figure>
      </div> -->
      <div class="media-content">
        <p id="title" class="title is-4">{{product.title}}</p>
        <p id="price" class="subtitle is-6">$ {{product.price}}</p>
      </div>
    </div>

    <div class="content">
      <span id="disc">{{product.description}}</span>
      <br />
      <br />
      Variants:
      <span
        *ngFor="let variant of product.variants; let i = index"
        class="tag is-success is-light m-1"
        >{{variant.title}} | {{variant.quantity==0 ? 'out of stock' :
        variant.quantity + ' available' }}
      </span>
      <br />
      <br />
      Tags:
      <span
        *ngFor="let tag of product.tags; let i = index"
        class="tag is-dark m-1"
        >{{tag}}</span
      >
    </div>
  </div>
</div>
