<div class="text-center p-2">
  <h1 class="font-bold text-3xl text-gray-800 my-2">
    Fetch and list products
    <span role="img" aria-label="Cart">
      🛒
    </span>
  </h1>
  <p class="my-2 border-t-2 p-4 mb-6">
    Create an Angular Injectable service to fetch products from the provided
    API.
  </p>
  <div class="my-2 font-medium text-xl m-8">
    <p class="bg-gray-800 text-white shadow-md rounded p-4">
      As a user, I want to see the name and image of the first 5 products, so I
      know what's in store.
    </p>
    <p class="text-gray-700 italic text-sm p-2">
      Feel free to create new files where needed. You can use
      <code>apiURL</code> env var.
    </p>
  </div>
  <pre>
    <code>API URL: {{API_URL}}</code>
  </pre>
  <hr class="border" />
</div>
